{% extends "analysis/base.html" %}
{% block content %}
<div class="jumbotron" style="border-radius: 0px; background: rgb(20,132,76);
background: linear-gradient(90deg, rgba(20,132,76,1) 22%, rgba(75,179,124,1) 100%); color: white">
  <h1 class="display-4">Search Tool</h1>
  <p class="lead">Use this tool to find insights into a congress person's financial data as well as their congressional activity. This data is sourced for the ProPulica API and the OpenSecrets API.</p>
  <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0">
  <p>Want to learn more about this congress person? Visit their profile page!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Profile</a>
  </p>
</div>

<div class="row">
    {% for item in compensations %}
    <div class="col-sm-12 col-md-6 col-1g-6">
		<div class="card bg-light mb-3 border-light">
			<div class="card-header" style="border:none">
			    {{ item.CompSource }}
			</div>
			<a href="{% url 'analysis-search-detail' item.ID %}">
			<div class="card-body">
			    <h5 class="card-title">{{ item.Orgname }}</h5>
			    <p class="card-text">{{ item.CompSourceLocation }}</p>
			    <p class="card-text">{{ item.Realcode }}</p>
			</div>
			</a>
		</div>
		<br />
	</div>   	    
	{% endfor %}
</div>
{% endblock content %}