{% extends "analysis/base.html" %}
{% block content %}
<div class="jumbotron" style="border-radius: 0px">
  <h1 class="display-4"><i class="fa fa-search" aria-hidden="true"></i> Search Tool</h1>
  <p class="lead">Use this tool to find insights into a congress person's financial data as well as their congressional activity. This data is sourced for the ProPulica API and the OpenSecrets API.</p>
  <hr>
  <p>Learn more about where our data is sourced from!</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="https://www.opensecrets.org/" role="button">OpenSecrets</a>
    <a class="btn btn-outline-dark btn-lg" href="https://www.propublica.org/datastore/" role="button">ProPublica</a>
  </p>
</div>

<div class="search">
<div class="row justify-content-center">
	<p><b>Results:&nbsp;&nbsp;</b>{{ compensations.paginator.count }}</p>
</div>
<div class="row justify-content-center">
	{% if compensations.has_previous %}
	<a href="?page=1">&nbsp;<i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;</a>
	<a href="?page={{compensations.previous_page_number}}">&nbsp;<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;</a>
	{% endif %}
	Pages: 
	{% for num in compensations.paginator.page_range %}
		{% if compensations.number == num %}
			<strong>&nbsp;&nbsp;{{num}}&nbsp;&nbsp;</strong>
		{% elif num > compensations.number|add:'-3' and num < compensations.number|add:'3' %}
			&nbsp;{{num}}&nbsp;
		{% endif %}
	{% endfor %}

	{% if compensations.has_next %}
		<a href="?page={{compensations.next_page_number}}">&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;</a>
		<a href="?page={{compensations.paginator.num_pages}}">&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;</a>
	{% endif %}
</div>	
<br />
<div class="row">
	{% if not compensations %}
		<div class="col-12">
			<div class="card bg-light mb-3 border-light">
				<div class="card-body">
				    <h5 class="card-title">No Information Currently Available</h5>
				    <p class="card-text">Try expanding your search parameters!</p>
				</div>
			</div>
			<br />
		</div>  
	{% else %}
	    {% for item in compensations %}
	    <div class="col-sm-12 col-md-6 col-1g-6">
			<div class="card bg-light mb-3 border-light">
				<div class="card-header" style="border:none">
				    <b>Sponser: </b>{{ item.sponsor_id }}
				</div>
				<div class="card-body">
				    <h5 class="card-title">{{ item.bill_id }}</h5>
				    <p class="card-text">{{ item.bill_type }}</p>
				    <p class="card-text">{{ item.origin }}</p>
				</div>
			</div>
			<br />
		</div>   	    
		{% endfor %}
	{% endif %}
</div>
<div class="row justify-content-center">
	{% if compensations.has_previous %}
	<a href="?page=1">&nbsp;<i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;</a>
	<a href="?page={{compensations.previous_page_number}}">&nbsp;<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;</a>
	{% endif %}
	Pages: 
	{% for num in compensations.paginator.page_range %}
		{% if compensations.number == num %}
			<strong>&nbsp;&nbsp;{{num}}&nbsp;&nbsp;</strong>
		{% elif num > compensations.number|add:'-3' and num < compensations.number|add:'3' %}
			&nbsp;{{num}}&nbsp;
		{% endif %}
	{% endfor %}

	{% if compensations.has_next %}
		<a href="?page={{compensations.next_page_number}}">&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;</a>
		<a href="?page={{compensations.paginator.num_pages}}">&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;</a>
	{% endif %}
</div>
</div>
{% endblock content %}