<div class="search-form" style="background-color: white">
	    <div class="row">
		    <div class="col">
		    	<a href="javascript:SwitchTab('tb_1', 'finance_data_form');" id="tb_1" class="tabmenu active"><i class="fa fa-money" aria-hidden="true"></i>  Finance</a>
			</div>
			<div class="col">
		    	<a href="javascript:SwitchTab('tb_2', 'congressional_activity_form');" id="tb_2" class="tabmenu"><i class="fa fa-university" aria-hidden="true"></i> Congress</a>
			</div>
		</div>
		<hr >

		<div id="finance_data_form" class="tabcontent"> 
			<form method="GET" action="" id="search_form" name="search_form">
			<div class="form-group">
			    <label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Congress Person</h6></label>
			    <select class="form-control" name="person">
			    	{% include 'analysis/options/congresspeople.html' %}
			    </select>
	    	</div>
			<div class="form-group">
			    <label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control" name="table" id="table">
			    	<option value="Compensations - Personal Finance">Compensations - Personal Finance</option>
			    	<option value="Assets - Personal Finance">Assets - Personal Finance</option>
			    	<option value="Agreements - Personal Finance">Agreements - Personal Finance</option>
			    	<option value="Gifts - Personal Finance">Gifts - Personal Finance</option>
			    	<option value="Incomes - Personal Finance">Incomes - Personal Finance</option>
			    	<option value="Liabilities - Personal Finance">Liabilities - Personal Finance</option>
			    	<option value="Positions - Personal Finance">Positions - Personal Finance</option>
			    	<option value="Travel - Personal Finance">Travel - Personal Finance</option>
			    	<option value="Transcations - Personal Finance">Transcations - Personal Finance</option>
			    	<option value="Honoraria - Personal Finance">Honoraria - Personal Finance</option>
			    	<option value="Individual Donations - Campaign Finance">Individual Donations - Campaign Finance</option>
			    	<option value="PAC Donations - Campaign Finance">PAC Donations - Campaign Finance</option>
			    </select>
			</div>
		    <div class="form-group">
		    	<label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control" name="ind">
			    	{% include 'analysis/options/finance_industries.html' %}
			    </select>
		    </div>

		   	<div class="form-group">
				<label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Keyword</h6></label>
				<input type="text" class="form-control" placeholder="None..." name="keyword" />
			</div>
			<div class="row justify-content-center">
				<button type="submit" onclick="myFunction()" class="btn btn-outline-light" style="background-color: #139d50">Search</button>
			</div>
		</form>
		</div>








		<div id="congressional_activity_form" class="tabcontent" style="display:none;">
			<form method="GET" action="."  id="search_form2">
			<div class="form-group">
			    <label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Congress Person</h6></label>
			    <select class="form-control" name="person">
			    	{% include 'analysis/options/congresspeople.html' %}
			    </select>
	    	</div>

			<div class="form-group">
			    <label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control" name="table">
			    	<option>Cosponsored - Bills</option>
			    	<option>Sponsored - Bills</option>
			    	<option>Votes</option>
			    </select>
			</div>

		    <div class="form-group">
		    	<label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control" name="industry">
			    	{% include 'analysis/options/congress_industries.html' %}
			    </select>
		    </div>

		    <div class="form-group">
				<label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Keyword</h6></label>
				<input type="text" class="form-control" placeholder="None..." name="keyword" />
			</div>
			<div class="row justify-content-center">
				<button type="submit" onclick="myFunction2()" class="btn btn-outline-light" style="background-color: #139d50">Search</button>
			</div>
			</form>
		</div>
</div>

<script>
function myFunction() {
  if(document.getElementById("table").value == "Honoraria - Personal Finance"){
  	document.getElementById("search_form").action = "/search/honoraria/";
  } else if(document.getElementById("table").value == "Assets - Personal Finance") {
  	document.getElementById("search_form").action = "/search/asset/";
  } else if(document.getElementById("table").value == "Individual Donations - Campaign Finance") {
  	document.getElementById("search_form").action = "/search/indivs/";
  } else if(document.getElementById("table").value == "PAC Donations - Campaign Finance"){
  	document.getElementById("search_form").action = "/search/pacs/";
  } else {
  	document.getElementById("search_form").action = "/search/compensation/";
  }
}
</script>


<script>
function myFunction2() {
  if(document.getElementById("table").value == "Sponsored - Bills"){
  	document.getElementById("search_form2").action = "/search/Sponsored/";
  } else if(document.getElementById("table").value == "Cosponsored - Bills") {
  	document.getElementById("search_form2").action = "/search/cosponsored/";
  } else {
	document.getElementById("search_form2").action = "/search/votes/";
  }
}
</script>