{% extends "analysis/base.html" %}
{% block content %}
<div class="jumbotron" style="border-radius: 0px">
  <h1 class="display-4"><i class="fa fa-search" aria-hidden="true"></i> Search Tool</h1>
  <p class="lead">Use this tool to find insights into a congress person's financial data as well as their congressional activity. This data is sourced for the ProPulica API and the OpenSecrets API.</p>
  <hr>
  <p>Want to learn more about this congress person? Visit their profile page!</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="#" role="button">Profile</a>
  </p>
</div>

<div class="search">
<div class="row">
	{% if compensations.has_previous %}
	<a href="?page=1"><<</a>
	<a href="?page={{compensations.previous_page_number}}"><</a>
	{% endif %}

	{% for num in compensations.paginator.page_range %}
		{% if compensations.number == num %}
			<strong>{{num}}</strong>
		{% elif num > compensations.number|add:'-3' and num < compensations.number|add:'3' %}
			{{num}}
		{% endif %}
	{% endfor %}

	{% if compensations.has_next %}
		<a href="?page={{compensations.next_page_number}}">></a>
		<a href="?page={{compensations.next_page_number}}">>></a>
	{% endif %}
</div>	
<div class="row">
    {% for item in compensations %}
    <div class="col-sm-12 col-md-6 col-1g-6">
		<div class="card bg-light mb-3 border-light">
			<div class="card-header" style="border:none">
			    {{ item.CompSource }}
			</div>
			<a href="{% url 'analysis-search-detail' item.ID %}">
			<div class="card-body">
			    <h5 class="card-title">{{ item.Orgname }}</h5>
			    <p class="card-text">{{ item.CompSourceLocation }}</p>
			    <p class="card-text">{{ item.Realcode }}</p>
			</div>
			</a>
		</div>
		<br />
	</div>   	    
	{% endfor %}
</div>
</div>
{% endblock content %}