{% extends "analysis/base.html" %}
{% block content %}
<div class="detail">
<div class="row">
	<div class="col">
	<button value="back" onClick="javascript:history.go(-1);" class="btn btn-outline-light" style="background-color: #139d50">back</button>
</div>
<br />
<br />
<br />
</div>
<div class="row">
  <div class="col">
    <h1>{{ object.ID }}</h1>
    <hr />
    <p><b>Compensation Source: </b>{{object.CompSource}}</p>
    <p><b>Calendar Year: </b>{{ object.CalendarYear }}</p>
    <p><b>Report Type: </b>{{ object.ReportType }}</p>
  </div>
</div>
</div>
{% endblock content %}
