<div class="search-form">
	<form method="GET" action=".">
	    <div class="form-group">
		    <label><h6 class="font-weight-light" id="grey"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Congress Person</h6></label>
		    <select class="form-control">
		    	<option>Bernie Sanders</option>
		    </select>
	    </div>

	    <div class="row">
		    <div class="col">
		    	<a href="javascript:SwitchTab('tb_1', 'finance_data_form');" id="tb_1" class="tabmenu active"><i class="fa fa-money" aria-hidden="true"></i>  Finance</a>
			</div>
			<div class="col">
		    	<a href="javascript:SwitchTab('tb_2', 'congressional_activity_form');" id="tb_2" class="tabmenu"><i class="fa fa-university" aria-hidden="true"></i> Congress</a>
			</div>
		</div>
		<hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #f8f9fa;
    margin: 1em 0; padding: 0; ">

		<div id="finance_data_form" class="tabcontent"> 
			<div class="form-group">
			    <label><h6 id="grey" class="font-weight-light"><i class="fa fa-chevron-circle-right" id="grey" aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control">
			    	<option>Bills</option>
			    	<option>Resolutions</option>
			    </select>
			</div>

		    <div class="form-group">
		    	<label><h6 id="grey" class="font-weight-light"><i class="fa fa-chevron-circle-right" id="grey" aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control" name="industry_param">
			    	<option selected value="">All...</option>
			        <option value="Y0000">unknown</option>
			        <option value="C2400">defense</option>
			    </select>
		    </div>
		</div>
		<div id="congressional_activity_form" class="tabcontent" style="display:none;">
			<div class="form-group">
			    <label><h6 id="grey" class="font-weight-light"><i class="fa fa-chevron-circle-right" id="grey" aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control">
			    	<option>Bills</option>
			    	<option>Resolutions</option>
			    </select>
			</div>

		    <div class="form-group">
		    	<label><h6 id="grey" class="font-weight-light"><i class="fa fa-chevron-circle-right" id="grey" aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control" name="industry_param">
			    	<option selected value="">All...</option>
			        <option value="Y0000">unknown</option>
			        <option value="C2400">defense</option>
			    </select>
		    </div>
		</div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-outline-light">search</button>
		</div>
	</form>
</div>
