<div class="search-form" style="background-color: white">
	<form method="GET" action=".">
	    <div class="form-group">
		    <label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Congress Person</h6></label>
		    <select class="form-control" name="person">
		    	{% include 'analysis/options/congresspeople.html' %}
		    </select>
	    </div>

	    <div class="row">
		    <div class="col">
		    	<a href="javascript:SwitchTab('tb_1', 'finance_data_form');" id="tb_1" class="tabmenu active"><i class="fa fa-money" aria-hidden="true"></i>  Finance</a>
			</div>
			<div class="col">
		    	<a href="javascript:SwitchTab('tb_2', 'congressional_activity_form');" id="tb_2" class="tabmenu"><i class="fa fa-university" aria-hidden="true"></i> Congress</a>
			</div>
		</div>
		<hr >

		<div id="finance_data_form" class="tabcontent"> 
			<div class="form-group">
			    <label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control">
			    	<option>Compensations - Personal Finance</option>
			    	<option>Assets - Personal Finance</option>
			    	<option>Agreements - Personal Finance</option>
			    	<option>Gifts - Personal Finance</option>
			    	<option>Incomes - Personal Finance</option>
			    	<option>Liabilities - Personal Finance</option>
			    	<option>Positions - Personal Finance</option>
			    	<option>Travel - Personal Finance</option>
			    	<option>Transcations - Personal Finance</option>
			    	<option>Honoraria - Personal Finance</option>
			    	<option>Individual Donations - Campaign Finance</option>
			    	<option>PAC Donations - Campaign Finance</option>
			    </select>
			</div>

		    <div class="form-group">
		    	<label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control" name="industry_param">
			    	{% include 'analysis/options/finance_industries.html' %}
			    </select>
		    </div>

		   	<div class="form-group">
				<label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Keyword</h6></label>
				<input type="text" class="form-control" placeholder="None..." name="keywords_param" />
			</div>
		</div>
		<div id="congressional_activity_form" class="tabcontent" style="display:none;">
			<div class="form-group">
			    <label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Category</h6></label>
			    <select class="form-control">
			    	<option>Cosponsored - Bills</option>
			    	<option>Sponsored - Bills</option>
			    	<option>Votes</option>
			    </select>
			</div>

		    <div class="form-group">
		    	<label><h6 class="font-weight-light"><i class="fa fa-chevron-circle-right"  aria-hidden="true"></i>&nbsp;&nbsp;Industry</h6></label>
			    <select class="form-control">
			    	{% include 'analysis/options/congress_industries.html' %}
			    </select>
		    </div>

		    <div class="form-group">
				<label><h6 class="font-weight-light" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp;&nbsp;Keyword</h6></label>
				<input type="text" class="form-control" placeholder="None..." name="keywords_param" />
			</div>
		</div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-outline-light" style="background-color: #139d50">Search</button>
		</div>
	</form>
</div>

