{% extends "analysis/base.html" %}
{% block content %}
<div class="jumbotron" style="border-radius: 0px">
  <h1 class="display-4"><i class="fa fa-search" aria-hidden="true"></i> Search Tool</h1>
  <p class="lead">Use this tool to find insights into a congress person's financial data as well as their congressional activity. This data is sourced for the ProPulica API and the OpenSecrets API.</p>
  <hr>
  <p>Learn more about where our data is sourced from!</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="https://www.opensecrets.org/" role="button">OpenSecrets</a>
    <a class="btn btn-outline-dark btn-lg" href="https://www.propublica.org/datastore/" role="button">ProPublica</a>
  </p>
</div>
{% endblock content %}