{% extends "analysis/base.html" %}
{% block content %}
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
      <h4>Finance Data</h4>
		<form>
			<div class="row">
	    	  <div class="col">
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Industry</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Agriculture</option>
				    </select>
				  </div>
			  </div>
			</div>
			<div class="row">
	    	  <div class="col">
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Industry</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Agriculture</option>
				    </select>
				  </div>
			  </div>
			</div>
			<div class="row">
	    	  <div class="col">
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Industry</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Agriculture</option>
				    </select>
				  </div>
			  </div>
			</div>
		  <div class="row">
		  	  <div class="col">
			  	<button type="submit" class="btn btn-primary">Search</button>
			  </div>
			  <div class="col">
			  	<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
				  <label class="form-check-label" for="defaultCheck1">
				    Include Nulls
				  </label>
				</div>
			  </div>
	      </div>
		</form>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>Modify Search</span>
    </button>
  </nav>
</div>
{% endblock content %}