{% extends "analysis/base.html" %}
{% block content %}
{% include 'analysis/search_nav_content.html' %}
<nav class="navbar navbar-light bg-light">
	<p>hi</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span>Search Parameters</span>
    </button>
</nav>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Search Results</h1>
		</div>
	</div>
	<br />
    <div class="row">
	    {% for item in queryset %}
	    <div class="col-sm-12 col-md-6 col-1g-6">
			<div class="card bg-light mb-3 border-light">
				<div class="card-body">
				    <h5 class="card-title">{{ item.CompSource }}</h5>
				    <p class="card-text">{{ item.CompSourceLocation }}</p>
				    <p class="card-text">{{ item.Realcode }}</p>
				</div>
			</div>
			<br />
		</div>   	    
		{% endfor %}
  	</div>
</div>
{% endblock content %}