/* #139d50 -> green*/
/* #f8f9fa -> grey */
#logo {
	color: #139d50;
}

#green-button {
  background-color: #139d50;
  color: white;
}

#grey {
  color: #b4b5b6;
}

a {
    text-decoration: none !important;
    color: grey;
}

/* sidebar form */
.search-form {
  padding: 15px;
}

.tabmenu.active {
  color: #fff;
  font-size: 16px;
}

.tabmenu {
  font-size: 16px;
}

/* sidebar */

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 17rem;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 17rem;
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -17rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin-left: 17rem;
  }

  #wrapper.toggled #page-content-wrapper {
    margin-left: 0rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem;
  }
}

/* SEARCH CONTENT */
.search {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}