{% extends "analysis/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="col">
	  {% if messages %}
	    {% for message in messages %}
	      <div class="alert alert-{{ message.tags }}">
	        {{ message }}
	      </div>
	    {% endfor %}
	  {% endif %}
	</div>
</div>
<div class="row">
	<div class="col">
		<h1>Sign In</h1>
	</div>
</div>
<!-- 	<div class="row">
	<div class="col">
        <small class="text-muted">
            Don't have an account?<a class="ml-2" href="{% url 'register' %}">Sign Up</a>
        </small>
	</div>
</div> -->
<br />
<div class="row">
	<div class="col">
		<div class="card bg-light mb-3 border-light">
			<div class="card-body">
			    <form method="POST">
			        {% csrf_token %}
			        <fieldset class="form-group">
			            {{ form|crispy }}
			        </fieldset>
			        <div class="form-group">
			            <button class="btn btn-primary" type="submit">Sign In</button>
			        </div>
			    </form>
			</div>
		</div>

	</div>
</div>
<br />
<br />
{% endblock content %}