<option value="All...">All...</option>
<option value="H2100">Hospitals</option>
<option value="A0000">Agriculture</option>
<option value="A1000">Crop production & basic processing</option>
<option value="A1100">Cotton</option>
<option value="A1200">Sugar cane & sugar beets</option>
<option value="A1300">Tobacco & Tobacco products</option>
<option value="A1400">Vegetables, fruits and tree nut</option>
<option value="A1500">Wheat, corn, soybeans and cash grain</option>
<option value="A1600">Other commodities (incl rice, peanuts, honey)</option>
<option value="A2000">Milk & dairy producers</option>
<option value="A2300">Poultry & eggs</option>
<option value="A3000">Livestock</option>
<option value="A3100">Animal feed & health products</option>
<option value="A3200">Sheep and Wool Producers</option>
<option value="A3300">Feedlots & related livestock services</option>
<option value="A3500">Horse breeders</option>
<option value="A4000">Agricultural services & related industries</option>
<option value="A4100">Agricultural chemicals (fertilizers & pesticides)</option>
<option value="A4200">Farm machinery & equipment</option>
<option value="A4300">Grain traders & terminals</option>
<option value="A4500">Veterinarians</option>
<option value="A5000">Forestry & Forest Products</option>
<option value="A5200">Paper & pulp mills and paper manufacturing</option>
<option value="A6000">Farm organizations & cooperatives</option>
<option value="A6500">Farm bureaus</option>
<option value="A8000">Florists & Nursery Services</option>
<option value="B0000">Construction & Public Works</option>
<option value="B0500">Builders associations</option>
<option value="B1000">Public works, industrial & commercial construction</option>
<option value="B1200">Dredging Contractors</option>
<option value="B1500">Construction, unclassified</option>
<option value="B2000">Residential construction</option>
<option value="B2400">Mobile home construction</option>
<option value="B3000">Special trade contractors</option>
<option value="B3200">Electrical contractors</option>
<option value="B3400">Plumbing, heating & air conditioning</option>
<option value="B3600">Landscaping & Excavation Svcs</option>
<option value="B4000">Engineering, architecture & construction mgmt svcs</option>
<option value="B4200">Architectural services</option>
<option value="B4300">Surveying</option>
<option value="B4400">Engineers - type unknown</option>
<option value="B5000">Building materials</option>
<option value="B5100">Stone, clay, glass & concrete products</option>
<option value="B5200">Lumber and wood products</option>
<option value="B5300">Plumbing & pipe products</option>
<option value="B5400">Other construction-related products</option>
<option value="B5500">Electrical Supply</option>
<option value="B6000">Construction equipment</option>
<option value="C0000">Communications & Electronics</option>
<option value="C1000">Printing and publishing (printed & online)</option>
<option value="C1100">Book, newspaper & periodical publishing</option>
<option value="C1300">Commercial printing & typesetting</option>
<option value="C1400">Greeting card publishing</option>
<option value="C2000">Entertainment Industry/Broadcast & Motion Pictures</option>
<option value="C2100">Commercial TV & radio stations</option>
<option value="C2200">Cable & satellite TV production</option>
<option value="C2300">TV production</option>
<option value="C2400">Motion Picture production & distribution</option>
<option value="C2600">Recorded Music & music production</option>
<option value="C2700">Movie Theaters</option>
<option value="C2800">Bands, orchestras & other live music production</option>
<option value="C2900">Live theater & other entertainment productions</option>
<option value="C4000">Telecommunications</option>
<option value="C4100">Telephone utilities</option>
<option value="C4200">Long-distance telephone & telegraph service</option>
<option value="C4300">Cell/wireless service providers</option>
<option value="C4400">Satellite communications</option>
<option value="C4500">Cable distributors & service providers</option>
<option value="C4600">Other Communications Services</option>
<option value="C5000">Electronics manufacturing & services</option>
<option value="C5100">Computer manufacture & services</option>
<option value="C5110">Computer components & accessories</option>
<option value="C5120">Computer software</option>
<option value="C5130">Data processing & computer services</option>
<option value="C5200">Telecommunications Devices</option>
<option value="C5300">Other Communication Electronics</option>
<option value="C5400">Industrial Electronics</option>
<option value="C6000">Internet & Online Services</option>
<option value="C6100">Online Entertainment</option>
<option value="C6200">Social Media</option>
<option value="C6300">Search Engine/Email Services</option>
<option value="C6400">Vendors</option>
<option value="C6500">Hosting/Cloud Services</option>
<option value="D0000">Defense</option>
<option value="D2000">Defense aerospace contractors</option>
<option value="D3000">Defense electronic contractors</option>
<option value="D4000">Defense Research & Development</option>
<option value="D5000">Defense shipbuilders</option>
<option value="D6000">Homeland Security contractors</option>
<option value="D8000">Ground-based & other weapons systems</option>
<option value="D9000">Defense-related services</option>
<option value="E0000">Energy, Natural Resources and Environment</option>
<option value="E1000">Energy production & distribution</option>
<option value="E1100">Oil & Gas</option>
<option value="E1110">Major (multinational) oil & gas producers</option>
<option value="E1120">Independent oil & gas producers</option>
<option value="E1140">Natural Gas transmission & distribution</option>
<option value="E1150">Oilfield service, equipment & exploration</option>
<option value="E1160">Petroleum refining & marketing</option>
<option value="E1170">Gasoline service stations</option>
<option value="E1180">Fuel oil dealers</option>
<option value="E1190">LPG/Liquid Propane dealers & producers</option>
<option value="E1200">Mining</option>
<option value="E1210">Coal mining</option>
<option value="E1220">Metal mining & processing</option>
<option value="E1230">Non-metallic mining</option>
<option value="E1240">Mining services & equipment</option>
<option value="E1300">Nuclear energy</option>
<option value="E1320">Nuclear plant construction, equipment & svcs</option>
<option value="E1500">Alternate energy production & services</option>
<option value="E1600">Electric Power utilities</option>
<option value="E1610">Rural electric cooperatives</option>
<option value="E1620">Gas & Electric Utilities</option>
<option value="E1630">Independent power generation & cogeneration</option>
<option value="E1700">Power plant construction & equipment</option>
<option value="E2000">Environmental services, equipment & consulting</option>
<option value="E3000">Waste management</option>
<option value="E4000">Fisheries & wildlife</option>
<option value="E4100">Fishing</option>
<option value="E4200">Hunting & wildlife</option>
<option value="E5000">Water Utilities</option>
<option value="F0000">Finance, Insurance & Real Estate</option>
<option value="F1000">Banks & lending institutions</option>
<option value="F1100">Commercial banks & bank holding companies</option>
<option value="F1200">Savings banks & Savings and Loans</option>
<option value="F1300">Credit unions</option>
<option value="F1400">Credit agencies & finance companies</option>
<option value="F1410">Student loan companies</option>
<option value="F1420">Payday lenders</option>
<option value="F2000">Securities, commodities & investment</option>
<option value="F2100">Security brokers & investment companies</option>
<option value="F2110">Discount & Online Brokers</option>
<option value="F2200">Commodity brokers/dealers</option>
<option value="F2300">Investment banking</option>
<option value="F2400">Stock exchanges</option>
<option value="F2500">Venture capital</option>
<option value="F2600">Private Equity & Investment Firms</option>
<option value="F2700">Hedge Funds</option>
<option value="F3000">Insurance</option>
<option value="F3100">Insurance companies, brokers & agents</option>
<option value="F3200">Accident & health insurance</option>
<option value="F3300">Life insurance</option>
<option value="F3400">Property & casualty insurance</option>
<option value="F4000">Real estate</option>
<option value="F4100">Real Estate developers & subdividers</option>
<option value="F4200">Real estate agents</option>
<option value="F4300">Title insurance & title abstract offices</option>
<option value="F4400">Mobile home dealers & parks</option>
<option value="F4500">Building operators and managers</option>
<option value="F4600">Mortgage bankers and brokers</option>
<option value="F4700">Other real estate services</option>
<option value="F5000">Financial services & consulting</option>
<option value="F5100">Accountants</option>
<option value="F5200">Credit reporting services & collection agencies</option>
<option value="F5300">Tax return services</option>
<option value="F5500">Other financial services</option>
<option value="F7000">Investors</option>
<option value="G0000">General commerce</option>
<option value="G1000">General business associations</option>
<option value="G1100">Chambers of commerce</option>
<option value="G1200">Small business associations</option>
<option value="G1300">Pro-business associations</option>
<option value="G1310">Business tax coalitions</option>
<option value="G1400">International trade associations</option>
<option value="G2000">Food & Beverage Products and Services</option>
<option value="G2100">Food and kindred products manufacturing</option>
<option value="G2110">Artificial sweeteners and food additives</option>
<option value="G2200">Confectionery processors & manufacturers</option>
<option value="G2300">Meat processing & products</option>
<option value="G2350">Fish Processing</option>
<option value="G2400">Food stores</option>
<option value="G2500">Food wholesalers</option>
<option value="G2600">Beverages (non-alcoholic)</option>
<option value="G2700">Beverage bottling & distribution</option>
<option value="G2800">Alcohol</option>
<option value="G2810">Beer</option>
<option value="G2820">Wine & distilled spirits manufacturing</option>
<option value="G2840">Liquor stores</option>
<option value="G2850">Liquor wholesalers</option>
<option value="G2860">Marijuana Production, Sales & Paraphernalia</option>
<option value="G2900">Restaurants & drinking establishments</option>
<option value="G2910">Food catering & food services</option>
<option value="G3000">Wholesale trade</option>
<option value="G3500">Import/Export services</option>
<option value="G4000">Retail trade</option>
<option value="G4100">Apparel & accessory stores</option>
<option value="G4200">Consumer electronics & computer stores</option>
<option value="G4300">Department, variety & convenience stores</option>
<option value="G4400">Furniture & appliance stores</option>
<option value="G4500">Hardware & building materials stores</option>
<option value="G4600">Miscellaneous retail stores</option>
<option value="G4700">Catalog & mail order houses</option>
<option value="G4800">Direct sales</option>
<option value="G4850">Vending Machine Sales & Services</option>
<option value="G4900">Drug stores</option>
<option value="G5000">Services</option>
<option value="G5100">Beauty & barber shops</option>
<option value="G5200">Business services</option>
<option value="G5210">Advertising & public relations services</option>
<option value="G5220">Direct mail advertising services</option>
<option value="G5230">Outdoor advertising services</option>
<option value="G5240">Commercial photography, art & graphic design</option>
<option value="G5250">Employment agencies</option>
<option value="G5260">Political consultants/advisers</option>
<option value="G5270">Management consultants & services</option>
<option value="G5280">Marketing research services</option>
<option value="G5290">Security services</option>
<option value="G5300">Equipment rental & leasing</option>
<option value="G5400">Funeral services</option>
<option value="G5500">Laundries & dry cleaners</option>
<option value="G5600">Miscellaneous repair services</option>
<option value="G5700">Pest control</option>
<option value="G5800">Physical fitness centers</option>
<option value="G6000">Recreation/Entertainment</option>
<option value="G6100">Amusement/recreation centers</option>
<option value="G6400">Professional sports, arenas & related equip & svcs</option>
<option value="G6500">Casinos, racetracks & gambling</option>
<option value="G6550">Indian Gaming</option>
<option value="G6700">Amusement parks</option>
<option value="G6800">Video rental</option>
<option value="G7000">Correctional facilities constr & mgmt/for-profit</option>
<option value="H0000">Health, Education & Human Resources</option>
<option value="H1000">Health professionals</option>
<option value="H1100">Physicians</option>
<option value="H1110">Psychiatrists & psychologists</option>
<option value="H1120">Optometrists & Ophthalmologists</option>
<option value="H1130">Other physician specialists</option>
<option value="H1400">Dentists</option>
<option value="H1500">Chiropractors</option>
<option value="H1700">Other non-physician health practitioners</option>
<option value="H1710">Nurses</option>
<option value="H1750">Pharmacists</option>
<option value="H2000">Health care institutions</option>
<option value="H2200">Nursing homes</option>
<option value="H2300">Drug & alcohol treatment hospitals</option>
<option value="H3000">Health care services</option>
<option value="H3100">Home care services</option>
<option value="H3200">Outpatient health services (incl drug & alcohol)</option>
<option value="H3300">Optical services (glasses & contact lenses)</option>
<option value="H3400">Medical laboratories</option>
<option value="H3500">AIDS treatment & testing</option>
<option value="H3700">HMOs</option>
<option value="H3800">Mental Health Services</option>
<option value="H3900">Health care Consultants</option>
<option value="H4000">Health care products</option>
<option value="H4100">Medical Devices & Supplies</option>
<option value="H4200">Personal health care products</option>
<option value="H4300">Pharmaceutical manufacturing</option>
<option value="H4400">Pharmaceutical wholesale</option>
<option value="H4500">Biotech products & research</option>
<option value="H4600">Nutritional & dietary supplements</option>
<option value="H4700">Pharmaceutical cannabis</option>
<option value="H5000">Education</option>
<option value="H5100">Schools & colleges</option>
<option value="H5150">Medical schools</option>
<option value="H5170">Law schools</option>
<option value="H5200">Technical, business and vocational schools & svcs</option>
<option value="H5300">For-profit Education</option>
<option value="H6000">Welfare & Social Work</option>
<option value="J0000">Ideological & Single Issue PACs</option>
<option value="J1000">General Ideological</option>
<option value="J1100">Republican/Conservative</option>
<option value="J1110">Christian Conservative</option>
<option value="J1200">Democratic/Liberal</option>
<option value="J1300">Third-party committees</option>
<option value="J2000">Leadership committees</option>
<option value="J2100">Democratic leadership PAC</option>
<option value="J2200">Republican leadership PAC</option>
<option value="J2300">Democratic officials, candidates & former members</option>
<option value="J2400">Republican officials, candidates & former members</option>
<option value="J2500">Non-Federal candidate committees</option>
<option value="J3000">Consumer groups</option>
<option value="J4000">Fiscal & tax policy</option>
<option value="J5000">Foreign policy</option>
<option value="J5100">Pro-Israel</option>
<option value="J5200">Anti-Castro</option>
<option value="J5300">Puerto Rico statehood policy</option>
<option value="J5400">Pro-Arab</option>
<option value="J6100">Anti-Guns</option>
<option value="J6200">Pro-Guns</option>
<option value="J6500">Militias & Anti-Government Groups</option>
<option value="J7000">Human Rights</option>
<option value="J7120">Abortion policy/Anti-Abortion</option>
<option value="J7150">Abortion policy/Pro-Abortion Rights</option>
<option value="J7200">Elderly issues/Social Security</option>
<option value="J7210">Legalization of Doctor-Assisted Suicide</option>
<option value="J7300">Gay & lesbian rights & issues</option>
<option value="J7400">Women's issues</option>
<option value="J7500">Minority/Ethnic Groups</option>
<option value="J7510">Native American Tribes</option>
<option value="J7600">Animal Rights</option>
<option value="J7700">Children's rights</option>
<option value="J8000">Labor, anti-union</option>
<option value="J9000">Other single-issue or ideological groups</option>
<option value="J9100">Term limits</option>
<option value="JD100">Defense policy, hawks</option>
<option value="JD200">Defense policy, doves</option>
<option value="JE300">Environmental policy</option>
<option value="JH100">Health & welfare policy</option>
<option value="JW100">Pro-resource development groups</option>
<option value="K0000">Legal Services</option>
<option value="K1000">Attorneys & law firms</option>
<option value="K1100">Trial lawyers & law firms</option>
<option value="K1200">Corporate lawyers & law firms</option>
<option value="K2000">Lobbyists & Public Relations</option>
<option value="K2100">Registered Foreign Agents</option>
<option value="L0000">Labor Unions</option>
<option value="L1000">Civil service & government unions</option>
<option value="L1100">Federal employees unions</option>
<option value="L1200">State & local govt employee unions</option>
<option value="L1300">Teachers unions</option>
<option value="L1400">Police & firefighters unions & associations</option>
<option value="L1500">US Postal Service unions & associations</option>
<option value="L5000">Other unions</option>
<option value="LA100">Agricultural labor unions</option>
<option value="LB100">Building trades unions</option>
<option value="LC100">Communications & hi-tech unions</option>
<option value="LC150">IBEW (Intl Brotherhood of Electrical Workers)</option>
<option value="LD100">Defense-related unions</option>
<option value="LE100">Mining unions</option>
<option value="LE200">Energy-related unions (non-mining)</option>
<option value="LG000">General commercial unions</option>
<option value="LG100">Food service & related unions</option>
<option value="LG200">Retail trade unions</option>
<option value="LG300">Commercial service unions</option>
<option value="LG400">Entertainment unions</option>
<option value="LG500">Other commercial unions</option>
<option value="LH100">Health worker unions</option>
<option value="LM100">Manufacturing unions</option>
<option value="LM150">Automotive Manufacturing union</option>
<option value="LT000">Transportation unions</option>
<option value="LT100">Air transport unions</option>
<option value="LT300">Teamsters union</option>
<option value="LT400">Railroad unions</option>
<option value="LT500">Merchant marine & longshoremen unions</option>
<option value="LT600">Other transportation unions</option>
<option value="M0000">Manufacturing</option>
<option value="M1000">Chemicals</option>
<option value="M1100">Explosives</option>
<option value="M1300">Household cleansers & chemicals</option>
<option value="M1400">Manmade fibers</option>
<option value="M1500">Plastics & Rubber processing & products</option>
<option value="M1600">Paints, Solvents & Coatings</option>
<option value="M1700">Adhesives & Sealants</option>
<option value="M2000">Heavy industrial manufacturing</option>
<option value="M2100">Steel</option>
<option value="M2200">Smelting & non-petroleum refining</option>
<option value="M2250">Aluminum mining/processing</option>
<option value="M2300">Industrial/commercial equipment & materials</option>
<option value="M2400">Recycling of metal, paper, plastics, etc.</option>
<option value="M3000">Personal products manufacturing</option>
<option value="M3100">Clothing & accessories</option>
<option value="M3200">Shoes & leather products</option>
<option value="M3300">Toiletries & cosmetics</option>
<option value="M3400">Jewelry</option>
<option value="M3500">Toys</option>
<option value="M3600">Sporting goods sales & manufacturing</option>
<option value="M4000">Household & office products</option>
<option value="M4100">Furniture & wood products</option>
<option value="M4200">Office machines</option>
<option value="M4300">Household appliances</option>
<option value="M5000">Fabricated metal products</option>
<option value="M5100">Hardware & tools</option>
<option value="M5200">Electroplating, polishing & related services</option>
<option value="M5300">Small arms & ammunition</option>
<option value="M6000">Electrical lighting products</option>
<option value="M7000">Paper, glass & packaging materials</option>
<option value="M7100">Paper packaging materials</option>
<option value="M7200">Glass products</option>
<option value="M7300">Metal cans & containers</option>
<option value="M8000">Textiles & fabrics</option>
<option value="M9000">Precision instruments</option>
<option value="M9100">Optical instruments & lenses</option>
<option value="M9200">Photographic equipment & supplies</option>
<option value="M9300">Clocks & watches</option>
<option value="T0000">Transportation</option>
<option value="T1000">Air transport</option>
<option value="T1100">Airlines</option>
<option value="T1200">Aircraft manufacturers</option>
<option value="T1300">Aircraft parts & equipment</option>
<option value="T1400">General aviation (private pilots)</option>
<option value="T1500">Air freight</option>
<option value="T1600">Aviation services & airports</option>
<option value="T1700">Space vehicles & components</option>
<option value="T2000">Automotive, Misc</option>
<option value="T2100">Auto manufacturers</option>
<option value="T2200">Truck/Automotive parts & accessories</option>
<option value="T2300">Auto dealers, new & used</option>
<option value="T2310">Auto dealers, foreign imports</option>
<option value="T2400">Auto repair</option>
<option value="T2500">Car rental agencies</option>
<option value="T3000">Trucking</option>
<option value="T3100">Trucking companies & services</option>
<option value="T3200">Truck & trailer manufacturers</option>
<option value="T4000">Buses & Taxis</option>
<option value="T4100">Bus services</option>
<option value="T4200">Taxicabs</option>
<option value="T5000">Railroad transportation</option>
<option value="T5100">Railroads</option>
<option value="T5200">Manufacturers of railroad equipment</option>
<option value="T5300">Railroad services</option>
<option value="T6000">Sea transport</option>
<option value="T6100">Ship building & repair</option>
<option value="T6200">Sea freight & passenger services</option>
<option value="T6250">Cruise ships & lines</option>
<option value="T7000">Freight & delivery services</option>
<option value="T7100">Express delivery services</option>
<option value="T7200">Warehousing</option>
<option value="T8000">Recreational transport</option>
<option value="T8100">Motorcycles, snowmobiles & other motorized vehicle</option>
<option value="T8200">Motor homes & camper trailers</option>
<option value="T8300">Pleasure boats</option>
<option value="T8400">Bicycles & other non-motorized recreational transp</option>
<option value="T9000">Lodging & tourism</option>
<option value="T9100">Hotels & motels</option>
<option value="T9300">Resorts</option>
<option value="T9400">Travel agents</option>
<option value="X0000">Other</option>
<option value="X1200">Retired</option>
<option value="X3000">Civil servant/public employee</option>
<option value="X3100">Public official (elected or appointed)</option>
<option value="X3200">Courts & Justice System</option>
<option value="X3300">Municipal & county government organizations</option>
<option value="X3500">Public school teachers, administrators & officials</option>
<option value="X3700">US Postal Service</option>
<option value="X4000">Non-Profits</option>
<option value="X4100">Non-profit foundations</option>
<option value="X4110">Philanthropists</option>
<option value="X4200">Museums, art galleries, libraries, etc.</option>
<option value="X5000">Military</option>
<option value="X7000">Churches, clergy & religious organizations</option>
<option value="X8000">International Organizations</option>
<option value="X9000">Foreign Governments</option>
<option value="Y0000">Unknown</option>
<option value="Y1000">Homemakers, students & other non-income earners</option>
<option value="Y2000">No employer listed or discovered</option>
<option value="Y3000">Generic occupation - impossible to assign category</option>
<option value="Y4000">Employer listed but category unknown</option>
<option value="Z1000">Candidate Committees</option>
<option value="Z1100">Republican Candidate Committees</option>
<option value="Z1200">Democratic Candidate Committees</option>
<option value="Z1300">Third-Party Candidate Committees</option>
<option value="Z1400">Unknown-Party Candidate Committees</option>
<option value="Z4100">Republican Joint Candidate Committee</option>
<option value="Z4200">Democratic Joint Candidate Committee</option>
<option value="Z4300">Third-Party Joint Candidate Committee</option>
<option value="Z4400">Liberal Non-party Joint Fundraising Committee</option>
<option value="Z4500">Conservative Non-party Joint Fundraising Committee</option>
<option value="Z5000">Party Committees</option>
<option value="Z5100">Republican Party Committees</option>
<option value="Z5200">Democratic Party Committees</option>
<option value="Z5300">Third-Party Party Committees</option>
<option value="Z9000">Candidate contribution to his/her own campaign</option>
<option value="Z9100">Transfer between national party committees</option>
<option value="Z9500">Transfer from intermediary ( type 24I or 24T)</option>
<option value="Z9600">Non-Contribution, Miscellaneous</option>
<option value="Z9700">Unitemized (small) contributions</option>
<option value="Z9800">Public Funding</option>
<option value="Z9999">Internal Transfer and other non-contributions</option>